/* p{
   /* font-size: 16px;*/
   /* font-size: 10mm; */
   /* font-size: 1in; */
   /* font-size: 12pt; */

   

/* .para{ */

/* font-size: 40px; */
/* font-size: 1cm; */
/* font-size: 96px; */
/* font-size: 1pc; */

/* p{ 
    font-size: 15vmax;
}

.para{

    font-size: 15vmax;;
}*/

/* div{ 
    background-color: aquamarine;
    width: 100vw;
    height: 100vh;
}

.innerdiv{

    background-color: blueviolet;
    width: 100px;
    height: 50px;
}*/


 html{ 

    font-size: 30px;
}
p{
    font-size: 4rem;
}